body {
    background-color: #588771;
    font-family: Helvetica, Arial;
}

.top_header{
background-color: #01872EFF;
}

.button_to_color{
    background-color: #01872EFF !important;
}

.css-1yjjitx-MuiSwitch-track{
    background-color: #018786 !important;

}
.wrapper {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.wrapper p {
    font-style: italic;
    color: #588771
;
}

.logo{
    max-width: 55px;
    margin-right: 50px;
}

.wrapper hr {
    margin: 10px auto;
}


@media only screen and (min-width: 1400px) {
    .wrapper {
        width: 50%;
    }
}
@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .wrapper {
        width: 75%;
    }
}